@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-2 gold playFair">KATA & MILÁN</h1>

    <h2 class="display-2 gold playFair">ESKÜVŐJE</h2>

    <div class="timerContainer">
        <img class="goldRing" src="gold_ring.png" alt="Gold ring" height="400" width="400">
        <div class="day gold playFair">@Model.day</div>
        <div class="time gold rubik">@Model.time</div>
    </div>

    <p class="gold">

    </p>
    
</div>
